manifest {
    name = 'ScaleMethyl'
    version = '1.1.0'
    description = 'ScaleBio single-cell DNA methylation analysis workflow'
    homePage = 'https://scale.bio'
}
//// Parameter defaults; Can be set at workflow runtime on the nextflow command-line
params {
    //// Sequencing data input. Either a runfolder (BCL) or a directory with fastq files is require!
    runFolder = null // Top-level sequencer run directory (null if using fastq input)
    fastqSamplesheet = null // bcl-convert samplesheet.csv required if runFolder is set (null if using fastq input)

    fastqDir = null // Directory with pre-generated fastq files (null if using bcl)

    //// Sample sheet, i.e. path to samples.csv (required!)
    samples = null

    // Can be absolute paths or relative to ${projectDir}/references/ if there are no changes to the indexes
    libStructure = "lib.json"

    // Split library fastq files by i5 and individual sample fastq files by TN5
    splitFastq = true

    //// Optional workflow parameters
    bclConvertParams = "--no-lane-splitting true" // do not split by lane split by i5 //"--bcl-only-lane 1" // Only use lane 1 

    //// JSON file with paths to reference genome files.
    // One specific genome from there is selected at runtime
    //genomes = "${projectDir}/references/genomes.json"

    //// Reference genome.json (required!)
    genome = null

    // Workflow outputs (sub-directory of workflow launch dir)
    outDir = "ScaleMethyl.out"

    // Reporting only parameters
    resultDir = null    // Directory that points to output of previous analysis run
    reporting = false   // When set to true only generateReport and combinedSampleReport are run

    //// Output options, controlling what file types are published to outDir
    fastqOut = false     // Set to true to publish sample demultiplexed fastq files
    trimOut = false      // Publish adapter-trimmed fastq
    bamOut = false        // Publish bam files for all reads
    bamDedupOut = true   // BAM files with unique (deduplicated) reads
    covOut = true        // Per-cell methylation coverage in bismark .cov format
    allcOut = false      // Per-cell methylation coverage in ALLC format
    amethystOut = false      // Per-cell methylation coverage in Amethyst hdf5 cov format

    // Controls whether tss enrichment is run
    runTssEnrich = true

    // Generate a matrix with methylation signal per genome bin
    matrixGenerationCH = true
    matrixGenerationCG = true
    
    //// Merge Bam Parameters
    bam1Dir = null
    bam2Dir = null
    bamMergeOut = false
    bamRgHeader = "${projectDir}/references/bam_rg_header.txt"
    ////////////////////////
    //// Optional workflow parameters 
    
    // Enable adapter trimming (if running from Fastq input) and set the (3') adapter
    // When running from BCL (runfolder) the adapter should be included in the samplesheet to
    // be trimmed by bcl-convert during fastq generation
    trimFastq = true
    adapters = "${projectDir}/references/SciMETv2_Adapters.tsv" 
    
    // Run fastQC on all fastq files
    fastqc = true

    // Percentage threshold for filtering reads with high CH methylation
    chReadsThreshold = 10

    // Cell-calling parameters
    // Percentile of unique reads 'minUniqCount' per cell to use as 'robust max'
    topCellPercentile = 99
    // Ratio between transcript counts of top cells and the lower cell threshold
    minCellRatio = 20
    // Minimum counts to consider a barcode as a potential cell
    minUniqCount = 1000
    // Filter barcodes by a range of percent uniquely mapped reads out of total reads 
    minUniqTotal = 1
    maxUniqTotal = 100

    // Optional sc_dedup parameters
    dedupKey = "Leftmost"
    minMapq = 10
    
    // Compute resources for nextflow, when using local execution
    maxMemory = 124.GB
    maxCpus = 32
    maxTime = 24.h

    help = false
}

process {
    cpus = { maxCpu(2) }
    memory = { maxMem(4.GB * task.attempt) }
    time = params.maxTime
    container = "public.ecr.aws/o5l3p3e4/scale-methyl-tools@sha256:1971415167ce88f13eb217edd6efdb694caa2e5a06bd79d4c279f7d363a111b1"

    // Default errorStrategy is to retry if process exit code is 137, 138, 139 or 140 or if it is the first or second task attempt
    errorStrategy = { (task.attempt) <= 2 || (task.exitStatus in 137..140) ? 'retry' : 'terminate' }
    maxRetries = 3
    maxErrors = '-1'

    withLabel:process_single {
        cpus = 1
        memory = { maxMem(2.GB * task.attempt) }
    }
    withLabel:process_medium {
        cpus = { maxCpu(4) }
        memory = { maxMem(6.GB * task.attempt) }
    }
    withLabel:process_medium_memory {
        cpus = { maxCpu(4) }
        memory = { maxMem(12.GB * task.attempt) }
    }
    withName:BclConvert {
        container = 'nfcore/bclconvert:3.9.3'
        cpus = { maxCpu(16) }
        memory = { maxMem(62.GB * task.attempt) }
    }
    withName:MergeBam {
        cpus = { maxCpu(4) }
        memory = { maxMem(32.GB * task.attempt) }
    }
    withName:Trim {
	    cpus = { maxCpu(6) }
	    memory = { maxMem(6.GB * task.attempt) }
    }
    withName:Align {
        cpus = { maxCpu(10) }
        memory = { maxMem(32.GB * task.attempt) }
    }
    withName:Extract {
        cpus = { maxCpu(5) }
        memory = { maxMem(10.GB * task.attempt) }
    }
}

profiles {
  conda {
    conda.enabled = true
    process.conda = "$projectDir/envs/scaleMethylTools.conda.yml"
  }
  docker {
    docker.enabled = true
    docker.fixOwnership = true
  }
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true 
    docker.enabled = false
  }
}


// nf-core functions to ensure that resource requirements don't go 
// beyond a maximum limit
def maxMem(obj) {
    if (obj.compareTo(params.maxMemory as nextflow.util.MemoryUnit) == 1)
        return params.maxMemory as nextflow.util.MemoryUnit
    else
        return obj
}
def maxCpu(obj) {
    return Math.min(obj, params.maxCpus as int)
}
